body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #594AE3;
    color: white;
    text-align: center;
    padding: 1em 0;
  }
  
  h1 {
    margin: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 2em auto;
    padding: 0 1em;
  }
  
  .project {
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .project h2 {
    margin-top: 0;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 15%;
  }

  #cursor {
    display: inline-block;
    animation: blink 0.7s infinite;
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  